* {
  // reset spacing
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

    // using rem units


  &:before {
    content: "";
    display: block;
    background-image: url("./assets/habbo_bg.gif");
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(1px);
  }

  body {
    font-size: 62.5%;
    color: #fff;

    min-height: 100vh;
    max-width: 480px;
    margin: 0 auto;
    background-color: transparent;
    background-image: url("./assets/habbo_bg.gif");
    background-position: center;


    #root {
        min-height: 100vh;
        display: grid;
        // center the content
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
  }
}
